<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/geolocationSvc.js"></script>
    <script src="Scripts/script.js"></script>
    <!--https://instanteduhelp.com/angular-js-project-ideas/-->
</head>
<body ng-app="projects" ng-controller="projectsCtrl">
    <h1>Hello Plunker!</h1>
    <input text="" ng-model="msg" />

    {{msg}}

    <br>
    Input to Upper Case: {{msg|uppercase}}
    <br>
    Input to Lower Case: {{msg|lowercase}}

    <h3>Calculator</h3>
    <br>
    <input text="" ng-model="firstNum" />
    <br>
    <input text="" ng-model="secondNum" />
    <br />
    <button ng-click="addNumbers()">Click to add numbers</button>
    <br />
    <button ng-click="multiplyNumbers()">Click to multiply numbers</button>

    <br />
    <div ng-show="numbersAdded">
        {{firstNum}} + {{secondNum}} = {{firstNum+secondNum}}
    </div>
    <div ng-show="numbersMultiplied">
        {{firstNum}} * {{secondNum}} = {{firstNum*secondNum}}
    </div>
    <br />
    <br />

    <button ng-click="captureUserLocation()">Get location</button>
    <div ng-show="locationString.length>0">
        {{locationString}}
    </div>

    <p>The hexadecimal value of 255 is:</p>

    <h1>{{hex}}</h1>



</body>
</html>
