<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css" />
    <script src="Scripts/Vendor/angular.js"></script>
    <script src="Scripts/script.js"></script>
    <script src="Scripts/Services/geolocationService.js"></script>
    <script src="Scripts/Services/hexafyService.js"></script>
    <script src="Scripts/Filters/celsiusToFarenheit.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--https://instanteduhelp.com/angular-js-project-ideas/-->
</head>
<body ng-app="projects" ng-controller="projectsCtrl">
    <h1>Hello Plunker!</h1>
    <input text="" ng-model="msg" />

    {{msg}}

    <br>
    Input to Upper Case: {{msg|uppercase}}
    <br>
    Input to Lower Case: {{msg|lowercase}}

    <h3>Calculator</h3>
    <br>
    <input text="" ng-model="firstNum" />
    <br>
    <input text="" ng-model="secondNum" />
    <br />
    <button ng-click="addNumbers()">Click to add numbers</button>
    <br />
    <button ng-click="multiplyNumbers()">Click to multiply numbers</button>

    <br />
    <div ng-show="numbersAdded">
        {{firstNum}} + {{secondNum}} = {{firstNum+secondNum}}
    </div>
    <div ng-show="numbersMultiplied">
        {{firstNum}} * {{secondNum}} = {{firstNum*secondNum}}
    </div>
    <br />
    <br />

    <button ng-click="captureUserLocation()">Get location</button>
    <div ng-show="locationString.length>0">
        {{locationString}}
    </div>

    <p>The hexadecimal value of 255 is:</p>

    <h3>{{hex}}</h3>

    <!--<p>{{weatherInfo}}</p>-->

    <p>You are in: {{weatherInfo.data.name}}</p>
    <p>The temperature is: <span ng-bind="weatherInfo.data.main.temp | celsiusToFarenheit"></span></p>


    <div ng-hide="readingInProcess">
        <h3>Paste text you want to read</h3>
        <br>
        <div>
            <input textarea="" ng-model="textToRead" />
            <button ng-click="showTextToRead()">Read the text</button>
        </div>
    </div>

    <div ng-show="readingInProcess">
        <div>
            {{textToRead}}
        </div>

        <div id="readerArea">
            <h1>{{wordToRead}}</h1>
        </div>
    </div>

    <h3>Angular Stopwatch</h3>

    <p>Enter Seconds to Countdown</p>
    <input textarea="" ng-model="countDownTime" />
    <br>
    <div>
        <button ng-click="startTimer()">Start timer</button>
    </div>
    <h2>{{timeRemaining}}</h2>


    {{hoverColor}}

    <!--<div ng-class="{blue: hoverColor}"
         ng-mouseenter="hoverColor = true"
         ng-mouseleave="hoverColor = false">
        Mouse over me!
    </div>-->

<!--
    <div id="" ng-class="{blue: hover}"
         ng-mouseenter="hover = true"
         ng-mouseleave="hover = false">
         ng-class="{green: hoverColor}"
         
        This div changes based on hover
    </div>
-->

    {{hover}}
    <div
         ng-class="{red: hover, lightBlue: !hover}"
         ng-mouseenter="hover = true"
         ng-mouseleave="hover = false">
        Hover me.
    </div>


</body>
</html>
